.Rproj.user
.Rhistory
.RData
*.Rproj
briansDeansLecture/.cache/gv_3efef8fe4be52deac6d00bb3ab6e497a.RData
briansDeansLecture/.cache/gv_3efef8fe4be52deac6d00bb3ab6e497a.rdx
briansDeansLecture/.cache/unnamed-chunk-2_95923943247472f18d633d3f8b33f8ab.RData
briansDeansLecture/.cache/unnamed-chunk-2_95923943247472f18d633d3f8b33f8ab.rdb
briansDeansLecture/.cache/unnamed-chunk-2_95923943247472f18d633d3f8b33f8ab.rdx
fig/Thumbs.db
fig/swirl/Thumbs.db